name: Build NixOS-WSL Installer

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: DeterminateSystems/determinate-nix-action@main
    - run: nix build .#nixosConfigurations.thixos.config.system.build.tarballBuilder
    - run: nix build .#nixosConfigurations.thixos.config.system.build.tarballBuilder
    - run: sudo ./bin/nixos-wsl-tarball-builder thixos.wsl
    - uses: actions/upload-artifact@v6
      with:
        name: thixos-wsl-installer
        path: thixos.wsl
        if-no-files-found: error
        
